@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-secondary);
    color: var(--text-primary);
}

input,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.error {
    color: var(--color-error);
    font-size: 0.85rem;
    margin-top: 4px;
}
